[Unit]
Description=mpDris2 - Music Player Daemon D-Bus bridge
ConditionUser=!root
ConditionUser=!@system

[Service]
Type=dbus
BusName=org.mpris.MediaPlayer2.mpd
Restart=on-failure
ExecStart=/usr/bin/mpDris2 --use-journal

[Install]
WantedBy=default.target
